<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Demo" >
        <classes>
            <class name="Tests.TestCase2" >
                <methods>
                    <exclude name="loginTitleDisplay"></exclude>
                </methods>
            </class>
        </classes>
    </test>
</suite>
